.container {
  background: rgb(249, 238, 234);
  font-family: 'Montserrat', sans-serif;
  color: rgb(7, 6, 5);
  font-size: bold;
  line-height: 2;
  text-align: center;
  margin: 0 auto;
  width: 1000px;
}

.banner {
  padding: 24px;
  font-size: 20px;
  font-weight: bolder;
}

.intro {
  padding: 24px;
}

img.profile {
  border-radius: 70%;
}

img {
  height: auto;
  width: 40%;
}

h2 {
  font-family: 'DM Sans', sans-serif;
  color: rgb(229, 162, 79);
  font-size: 200;
  line-height: 2;
}

.closing .btn:hover {
  background-color: rgba(229, 162, 79, 1);
  font-family: 'DM Sans', sans-serif;
  color: rgb(51, 97, 183);
  font-size: 200;
  line-height: 2;
  text-decoration: none;
  text-align: left;
  list-style: none;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}

.list-inline ul li{
  background-color: rgba(229, 162, 79, 1);
  list-style: none;
  display: inline-block;
  padding: 0px 48px;
  width: 10%;
  margin: 24px;
}


div.lesson1, div.lesson2, div.lesson3, div.closing {
  background: white;
  padding: 24px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgb(213, 162, 111);
  margin: 60px;

}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
